@import url(http://fonts.googleapis.com/css?family=Lato:900);

body {
	margin:auto;
	padding:0;
	/*background: #70e1f5;
	background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194);
	background: linear-gradient(to left, #70e1f5 , #ffd194);*/
	background: #4CA1AF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C4E0E5, #F5F5DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C4E0E5, #F5F5DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

html {
	height: 100%;
	width: 100%;
}

header div {
	background-color: rgba(255, 255, 255, 0.6);
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bolder;
	font-size: 250%;
	text-align: center;
	color: rgba(210, 105, 30, 0.5);
}

.container {
	width:100%;
	height: 90%;
	text-align: center;
}

.grilleSudoku {
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	margin-right: 30px;
}

.panneauDeControle {
	display: inline-block;
	vertical-align: top;
	background-color: rgba(255, 255, 255, 0.6);
	width: 400px;
	margin-top: 100px;
	border-radius: 25px;
	text-align: center;
	height: relative;
}

p {
	text-align: center;
	font-family: Charcoal, sans-serif;
	font-weight: bold;
	font-size: 100%;
	color: #4682B4;
	letter-spacing: 2px;
}

time {
	display: block;
	text-align: center;
	color: rgba(32, 178, 170, 0.7);
	font-weight: bolder;
	font-size: 250%;
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #4682B4 inset;
}

header table {
	margin-top: 0;
}

header th {
	background-color: rgba(255, 255, 255, 0.6);
	font-family: Impact, Charcoal, sans-serif;
	font-weight: bolder;
	font-size: 250%;
	text-align: center;
	color: rgba(210, 105, 30, 0.5);
	border-radius: 5px;
}

table {
	background:transparent;
	margin:10px auto 20px auto;
	padding:0;
}

table td {
	width:60px;
	height:60px;
	border-collapse:collapse;
	padding:0;
	margin:0;
}

table td input {
	border:none;
	width:60px;
	height:60px;
	font-size:18px;
	text-align:center;
	border:2px solid #20B2AA;
	border-radius:3px;
	color:#000;
	transition-property: background, color;
	transition-duration: 1s;
	background-color: rgba(255, 255, 255, 0.6);
	font-weight: bold;
}

table td input.FondCouleur {
	background: #c4e0e5;
}

table td input.TextCouleur {
	color: #32CD32 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

button {
	border: 0;
	color: white;
	border-radius: 4px;
	padding: 5px 10px;
	transition: background-color 0.2s ease-out;
	cursor: pointer;
	margin: 0 auto;
	margin-bottom: 10px;
}

#Chronometre {
	color: rgba(0, 0, 0, 0.5);
}

#masquer {
	background-color: rgba(210, 105, 30, 0.5);
	display: block;
}

#afficher {
	background-color: rgba(210, 105, 30, 0.5);
	display: none;
}


.bouttonSudoku {
	background-color: rgba(32, 178, 170, 0.7);
}

#masquer:hover {
  background-color: rgba(210, 105, 30, 0.8);
}

#afficher:hover {
  background-color: rgba(210, 105, 30, 0.8);
}

#reset:hover, #rejouer:hover {
	background-color: rgb(32, 178, 170);
}

.temps {
	margin-bottom: 10px;
}

.tableauDeBord table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableauDeBord td, th {
    text-align: center;
    padding: 8px;
}

.tableauDeBord tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 1);
}

.tableauDeBord tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.8);
}

.tableauDeBord th{
	text-align: center;
	font-family: Charcoal, sans-serif;
	font-size: 100%;
	color: rgba(210, 105, 30, 0.5);
}

.tableauDeBord p {
	color: black;
	margin: 0px;
	width: 400;
}

#timer {
	display: block;
}

.radio-inline {
	color: rgba(0, 0, 0, 0.5);
}

#nomJoueur {
	background-color: transparent;
	border-left: none;
	border-right: none;
	width : 150px;
	position: relative;
	margin: 0 auto;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top: 2px solid #20B2AA;
	border-bottom: 2px solid #20B2AA;
}

#inputJoueur {
	background-color: rgba(70,130,180, 0.5);
	text-align: center;
	border: none;
	height: 20px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.5);
}

#nomJoueur:disabled{
	border : none;
	background: transparent;
}

#lienJeu, #lienTableauDeBord {
	position: absolute;
	top: 10px;
	right: 10px;	
}

#MeilleursTemps {
	margin: 0px; 
	width: 400px;
	text-align: center;
}

#MeilleursTemps td {
	font-family: Charcoal, sans-serif;
	font-weight: bold;
	height: 30px;
	color: rgba(0, 0, 0, 0.5);
	width: 200px;
}

#messageFelicitations{
font: 1.5rem/2.5rem 'Lato', sans-serif;
letter-spacing: 0.25rem;
color: orange;
text-shadow: -4px 1px 0px #424242,
				     -6px 5px 0px rgba(255,255,255,0.7)inset;
}

#Difficulte {
	margin: 0px;
}

table td input:focus {
	background: #FFEBCD !important;
}

#headerSudoku td {
	border:none;
	width:60px;
	height:60px;
	border:2px solid #20B2AA;
	border-radius:3px;
	transition-property: background, color;
	transition-duration: 1s;
	background-color: rgba(255, 255, 255, 0.6);
	font-weight: bolder;
	text-align: center;
	font-family: Charcoal, sans-serif;
	font-size: 30px;
	color: #4682B4;
}

#message {
	font-size: 12px;
	color: red;
}