<div class="container">
    <nav>
        <div *ngIf="!_router.url.includes('tableauDeBord')">
            <a routerLink="/tableauDeBord" routerLinkActive="active" id="lienTableauDeBord">Tableau de bord</a>
        </div>
        <div *ngIf="_router.url.includes('tableauDeBord')">
            <a routerLink="/sudoku" routerLinkActive="active" id="lienJeu">Sudoku</a>
        </div>
    </nav> 
    <router-outlet></router-outlet>
</div>

