<header>
    <table id="headerSudoku">
        <tr>
            <td *ngFor="let lettre of titre">{{lettre}}</td>
        </tr>
    </table>
</header>

<div class="container">
    <mon-sudoku></mon-sudoku>
    <panneau-controle></panneau-controle>
</div>
