<div class="panneauDeControle">
  <p>NOM JOUEUR <br> <input id="inputJoueur" type="text" maxlength="10" [(ngModel)]="panneauService.nomUtilisateur"></p>
  <p *ngIf='!panneauService.obtenirEstConnecte()' id="message">{{message}}</p>
  <hr *ngIf='panneauService.obtenirEstConnecte() && afficher'>
  <p>DIFFICULTÉ :
    <label class="radio-inline"><input type="radio" (click)="choisirDifficulte(false)" name="optradio">Facile</label>
    <label class="radio-inline"><input type="radio" (click)="choisirDifficulte(true)" name="optradio">Difficile</label>
  </p>
  <button class="bouttonSudoku" (click)="validerJoueur(panneauService.nomUtilisateur)" *ngIf='!panneauService.obtenirEstConnecte()'>Connexion</button>
  
  <hr *ngIf='panneauService.obtenirEstConnecte() && afficher'>
  <p *ngIf='panneauService.obtenirEstConnecte() && afficher'>TEMPS ÉCOULÉ </p>
  <mon-chronometre *ngIf='panneauService.obtenirEstConnecte() && afficher'></mon-chronometre>
  <hr *ngIf='panneauService.obtenirEstConnecte()'>
  <button class="bouttonSudoku" (click)="reinitialiserPartie()" *ngIf='panneauService.obtenirEstConnecte() && afficher'>RÉINITIALISER LA PARTIE</button>
  <button class="bouttonSudoku" (click)="obtenirNouveauSudoku()" *ngIf='panneauService.obtenirEstConnecte()'>NOUVELLE PARTIE</button>
  <hr *ngIf='panneauService.obtenirEstConnecte() && afficher'>
  <div *ngIf='sudokuService.estFini'>
    <p id = "messageFelicitations">  FÉLICITATIONS </p>
  </div>
  <p *ngIf='panneauService.obtenirEstConnecte() && afficher'>MEILLEURS TEMPS</p>
  <table id="MeilleursTemps" *ngIf='panneauService.obtenirEstConnecte() && afficher'>
    <tr><p id="Difficulte">{{panneauService.difficulte}}</p></tr>
    <div>
      <tr *ngFor="let meilleurTemps of panneauService.meilleursTemps">{{temps}}
        <td>{{meilleurTemps.nomUtilisateur}}</td>
        <td>{{meilleurTemps.temps}}</td>
      </tr>
    </div>
  </table>
</div>
