<div class="grilleSudoku">
    <table>
        <tr *ngFor="let row of sudokuService.sudoku; let i = index">
    		<td *ngFor="let case of row; let j = index">
                <!-- Cases Fixe -->
			    <input ondragstart="return false" ondrop="return false" *ngIf="!determinerCouleur(i,j) && case.estFixe" id="{{case.ligne}}{{case.colonne}}" type="text" maxlength="1" (keydown)="gererEntree(case, $event)" [(ngModel)]="case.valeur">
                <input ondragstart="return false" ondrop="return false" *ngIf="determinerCouleur(i,j) && case.estFixe" id="{{case.ligne}}{{case.colonne}}" class="FondCouleur" type="text" maxlength="1" (keydown)="gererEntree(case, $event)" [(ngModel)]="case.valeur">
                <!-- Cases non-Fixe -->
                <input ondragstart="return false" ondrop="return false" *ngIf="!determinerCouleur(i,j) && !case.estFixe" id="{{case.ligne}}{{case.colonne}}" class="TextCouleur" type="text" maxlength="1" (keydown)="gererEntree(case, $event)" [(ngModel)]="case.valeur">
                <input ondragstart="return false" ondrop="return false" *ngIf="determinerCouleur(i,j) && !case.estFixe" id="{{case.ligne}}{{case.colonne}}" class="FondCouleur TextCouleur" type="text" maxlength="1" (keydown)="gererEntree(case, $event)" [(ngModel)]="case.valeur">
            </td>
    	</tr>
    </table>
</div>