<header>
    <table id="headerSudoku">
        <tr>
            <td *ngFor="let lettre of titre">{{lettre}}</td>
        </tr>
    </table>
</header>
<div>
    <table class="tableauDeBord">
        <th>Sudoku Facile : {{tableauDeBordService.nbSudokuFacile}} -- SudokuDifficile : {{tableauDeBordService.nbSudokuDifficile}}</th>
        <tr *ngFor="let entree of tableauDeBordService.registreServeur"><p>{{entree}}</p></tr>
    </table>
</div>
