body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F0F8FF;
  background: -webkit-linear-gradient(to right, #F5F5F5, #F0F8FF);
  background: linear-gradient(to right,#F5F5F5, #F0F8FF);
}

#lienjeu, #boutonCurling {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 150px;
    background: #F0F8FF;
    background: -webkit-linear-gradient(to right, #F5F5F5, #F0F8FF);
    background: linear-gradient(to right,#F5F5F5, #F0F8FF);
    border: 2px solid steelblue;
    border-radius: 50px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: Montserrat;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
}

#lienjeu:hover, #boutonCurling:hover {
    background-color: white;
    color: dimgray;
    transition: 0.4s;
}

#boiteLogin {
	width: 300px;
	height: 180px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.6);
	text-align: center;
}

#boiteLogin p {
  font-size: 24px;
}

#boiteLogin  p:first-child {
  margin-top: 10px;
}

#boiteLogin input {
	width: 200px;
	margin-bottom: 10px;
	background: lightblue;
	outline: none;
	padding: 10px;
	font-size: 14px;
  text-align: center;
	color: black;
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
  border: none;
}

#boiteLogin input:focus {
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

h1 {
  margin-top: -40px;
  font-size: 40px;
  color: dimgray;
  -webkit-animation: h1 8s infinite; 
  animation: h1 8s infinite;
  text-align: center;
}

@-webkit-keyframes h1 {
    0%   {text-shadow: 0 0 3px blue; color: #fff;}
    25%  {text-shadow: 0 0 12px blue;}
    50%  {text-shadow: 0 0 20px blue; color: white;}
    75%  {text-shadow: 0 0 12px blue;}
    100% {text-shadow: 0 0 3px blue; color: #fff;}
}

