<div id="boiteDeCommunication">
    <p id="titreBoite">{{titre}}</p>
    <div id="affichageMessages" #affichageMessages [scrollTop]="affichageMessages.scrollHeight">
        <tr *ngFor="let message of boiteDeCommunicationService.messages">
            <td [ngClass]="message.estCommande === true ? 'messageCommande' : 'message'"> {{message.nom}}: {{message.message}}</td>
        </tr>
        <div id="aide" *ngIf="boiteDeCommunicationService.afficherAide">
            <p>
                Pour jouer votre tour, votre commande doit suivre le modèle
                suivant:
            </p>
            &emsp; <b>!placer &lt;ligne&gt;&lt;colonne&gt; (h|v) mot</b>
            <ul>
                <li>
                ligne, colonne: spècifient l'emplacement de la première
                lettre.
                </li>
                <li>
                h ou v: indiquent l'orientation (horizontale ou verticale
                du mot).
                </li>
            </ul>

            <p>
            Pour échanger une ou plusieurs lettres entrez la commande suivante:
            </p>
            &emsp; <b>!changer  lettre ...</b>
            <ul>
                <li>lettre doit etre en miniscule.</li>
                <li>* represente une lettre blanche.</li>
            </ul>
            Exemple :
            <ul>
                <li>
                !changer mwb : remplace les lettres m,w et b.
                </li>
            <li>
            !changer e* : remplace une seule des lettres e et une lettre
            blanche.
            </li>
            </ul>

            <p>
            Pour passer votre tour, entrez la commande suivante:
            </p>
            &emsp; <b>!passer</b>

            <p>Pour alterner entre la discussion et le chevalet, appuyez sur la touche Tab</p>
        </div>
    </div>
    <input id="chatBox" [(ngModel)]="boiteDeCommunicationService.messageContent" type="text" placeholder="Entrez votre message/commande ici..."
    (keydown.Enter)="boiteDeCommunicationService.envoyerMessage()">
</div>
