<div id = "chevalet">
    <table>
      <tr *ngFor="let case of chevaletService.lettres">
          <div class="jetonChevalet" id="{{case.indice}}">
          <td class="lettreChevalet"> {{case.obtenirLettre().obtenirLettre()}} </td>
          <td class="valeurChevalet"> {{case.obtenirLettre().obtenirValeur()}} </td>
          </div>
      </tr>
    </table>