<header>
  <div id="entetePage">
      <div class="jeton">
          <span class="lettre">S</span>
          <span class="nombre">1</span>
      </div>

      <div class="jeton">
          <span class="lettre">C</span>
          <span class="nombre">3</span>
      </div>

      <div class="jeton">
          <span class="lettre">R</span>
          <span class="nombre">1</span>
      </div>

      <div class="jeton">
          <span class="lettre">A</span>
          <span class="nombre">1</span>
      </div>

      <div class="jeton">
          <span class="lettre">B</span>
          <span class="nombre">3</span>
      </div>

      <div class="jeton">
          <span class="lettre">B</span>
          <span class="nombre">3</span>
      </div>

      <div class="jeton">
          <span class="lettre">L</span>
          <span class="nombre">1</span>
      </div>

      <div class="jeton">
          <span class="lettre">E</span>
          <span class="nombre">1</span>
      </div>
  </div>
</header>     
<div id="conteneur">
    <plateau-jeu></plateau-jeu>
    <div id="panneau">
        <mon-chevalet tabindex="0"></mon-chevalet>
        <panneau-informatif></panneau-informatif>
        <boite-communication></boite-communication>
    </div>
</div>