<div id="boiteLogin">
    <p> NOM JOUEUR</p>
    <input type="text" placeholder="Choisir un nom..." [value]="login.nomUtilisateur"
    (input)="login.nomUtilisateur=$event.target.value" (keydown.Enter)="chercherPartie()" [disabled]="login.rechercheEnCours">

    <b id="nomInvalide" *ngIf="login.nomJoueurInvalide" >{{login.erreurAuthentification}}</b>

    <p> NOMBRE DE JOUEURS</p>
    <span class="plain-select">
        <select class="inp" name="typePartie"
        (change)="login.modifierNbJoueurs($event.target.selectedIndex + 2)"
        [disabled]="login.rechercheEnCours">
            <option value="2">2 JOUEURS</option>
            <option value="3">3 JOUEURS</option>
            <option value="4">4 JOUEURS</option>
        </select>
    </span>

    <div id= "jouer">
        <button *ngIf="!login.rechercheEnCours" class="submit" (click)="chercherPartie()">JOUER!</button>
        <div class="loading" *ngIf="login.rechercheEnCours" ></div>
    </div>
</div>