<div id="panneauInformatif">
    <h2 id="gagnant"> </h2> 
    <p id="nom">NOM : {{loginService.obtenirNomUtilisateur()}} </p>
    <p id="nbJoueurs"> NOMBRE DE JOUEURS: {{loginService.obtenirNombreJoueurs()}} </p>
    <button id="revenirLogin" *ngIf="panneauService.partieFini" (click)="loginService.reinitiliaserNomUtilisateur()" 
            routerLink="/loginScrabble"> PAGE PRÉCÉDENTE </button>
    <hr>
    <p id="nbLettres">NOMBRE DE LETTRES : {{panneauService.tailleChevalet}}</p>
    <p id="nbLettresReserve"> NOMBRE DE LETTRES DANS LA RÉSERVE : {{panneauService.tailleReserve}} </p>
    <hr>
    <table id="Statistiques"><tr>
        <td><p>SCORE :</p></td>
        <td><p id="blockScore">{{panneauService.score}}</p></td>
        <td>
            <p id ="tempsRestant">TEMPS RESTANT</p>
            <mon-timer (minuterieComponent)="minuterieFini($event)"></mon-timer>
    </td>
        </tr>
    </table>
</div>
