<div id="plateauScrabble">
    <table id="plateau">
        <thead>
            <tr>
                <th *ngFor="let indice of indices">
                {{indice}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ligne of plateauService.obtenirGrille(); let i=index">
                <td> {{'ABCDEFGHIJKLMNO'.charAt(i)}} </td>
                <td *ngFor="let case of ligne; let j= index" class="{{obtenirTypeCase(i,j)}}">
                        {{case.lettre}}<sub>{{case.valeur}}</sub>
                </td>
            </tr>
        </tbody>
    </table>
        <table id="explications">
        <tr>
            <td></td>
            <td class="motX3">MOT TRIPLE</td>
            <td class="motX2">MOT DOUBLE</td>
            <td class="lettreX3">LETTRE TRIPLE</td>
            <td class="lettreX2">LETTRE DOUBLE</td>
        </tr>
    </table>
  </div>
