<h1>
	<img src="assets/images/pierre.png" height="42" width="42"> 
	{{title}} 
	<img src="assets/images/pierre.png" height="42" width="42">
</h1>
<main>
	<router-outlet></router-outlet>
</main>    
