<mon-login *ngIf="!peutJouerAuCurling()" ></mon-login>

<div id="nouvellePartie" *ngIf="!_router.url.includes('glcomp') && peutJouerAuCurling()">
    <button routerLink="/glcomp" routerLinkActive="active" id="lienjeu">JOUER</button>
</div>


