<modifier [container]="container"></modifier>
<div #container></div> 
<div>
    <md-card>
        <button md-button color="primary" (click)="choisirPerspective()">
        Camera perspective
        </button>
        <button md-button color="primary" (click)="choisirOrthogonale()">
        Camera orthographique
        </button>
        <button md-button color="primary" (click)="choisirAntihoraire()">
        Spin gauche
        </button>
        <button md-button color="primary" (click)="choisirHoraire()">
            Spin droit
        </button>
        <span id="barrePuissance">Puissance
            <progress value="{{partieService.compteurTimer}}" max="50"></progress>
        </span>
        <button md-button color="primary" (click)="afficherAide()">
        Aide
        </button>
        <div id="aide" *ngIf="aideEstAfficher">
            o: Caméra en vue orthogonale<br/>
            p: Caméra en vue perspective<br/>
            CLIC GAUCHE: Lancer la pierre<br/>
            Barre d'espace: Passer au tir suivant<br/>
            <br/>
        </div>
    </md-card>
    </div>





