<div id="boiteLogin">
    <p>NOM JOUEUR </p>
    <input class="inputJoueur" type="text" maxlength="10" [(ngModel)]="loginService.nomUtilisateur" placeholder="Choisir un nom...">
    <br>
    <button id="boutonCurling" (click)="validerJoueur()">CONNEXION</button>
</div>