
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#entetePage {
  text-align: center;
}

.jeton {
  display: inline-block;
  background-image: url("tile.jpg");
  height: 70px;
  width: 70px;
  border-radius: 7px;
  box-shadow: 0px 3px 5px black;
  text-align: center;
  border-top: 1px solid #333033;
  border-bottom: 4px solid #333033;
  border-left: 1px solid #333033;
  border-right: 4px solid #333033;
  margin-right: 1px;
}

.lettre, .nombre {
  font-family: 'Asap', serif;
  font-size: 60px;
  color: white;
  text-shadow:2px 2px 2px black;
}

.nombre {
  font-size: 15px;
}

body {
  width: 100%;
  background: lightblue;
  background: -webkit-linear-gradient(to right, #FFE4E1, lightblue);
  background: linear-gradient(to right, #FFE4E1, lightblue);
}

#conteneur {
  margin: 0 auto;
  width: 1300px;
  align-items: center;
  align-content: center;
}

#plateauScrabble {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  background-color: transparent;
  width: 700px;
}

#plateau {
  border-collapse: separate;
  border-spacing: 1px;
  width: 100%;
  display: table;
  table-layout: fixed;
}

#plateau td:not(:first-child) {
  border: 1px solid white;
}

#plateau th, #plateau td:not(:first-child) {
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bolder;
  color: black;
  display: table-cell;
}

#plateau td:first-child {
  text-align: center;
  font-weight: bolder;
  color: black;
  display: table-cell;
}

#plateau td:not(:first-child) {
  background-color: white;
  box-shadow: 0px 0px 2px lightgrey, steelblue 0px 2px 2px inset;
  font-size: 24px;
}

#panneau {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-left: 30px;
  height: 710px;
}

#panneauInformatif {
  background: rgba(255,192,203, 0.3);
  border-radius: 7px;
  border-bottom: 4px solid #D2C6D4;
  border-right: 4px solid #D2C6D4;
  box-shadow: 0px 3px 5px black;
  width: 500px;
  text-align: center;
  height: 250px;
  margin-top: -10px;
  color: black;
  text-shadow:1px 1px 1px white;
}

#timer {
  margin-left: -50px;
}

#boiteDeCommunication {
  vertical-align: top;
  background: rgba(255,192,203, 0.3);
  border-right: 4px solid #D2C6D4;
  width: 500px;
  height: 350px;
  text-align: center;
  border-radius: 7px;
  box-shadow: 0px 3px 5px black;
  margin-top: -5px;
}

.motX2 {
  background: #ee9ca7;
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
}

.motX3 {
  background: #B24592;
  background: -webkit-linear-gradient(to right, #F15F79, #B24592);
  background: linear-gradient(to right, #F15F79, #B24592); 
}

.lettreX2 {
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
}

.lettreX3 {
  background: #2c3e50;
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
  background: linear-gradient(to right, #3498db, #2c3e50);
}

.centre {
  background-image: url('etoile.png');
  background-repeat: no-repeat;
  background-position: center;
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px white inset;
}

#panneauInformatif p, label {
  font-family: 'Asap', serif;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px 2px 2px white;
}

#titreBoite {
  font-weight: bold;
  color: #fff;
  -webkit-animation: h1 8s infinite; 
  animation: h1 8s infinite;
}

@-webkit-keyframes h1 {
    0%   {text-shadow: 0 0 3px mediumvioletred; color: white;}
    25%  {text-shadow: 0 0 12px mediumvioletred;}
    50%  {text-shadow: 0 0 20px #FFFFF0; color: black;}
    75%  {text-shadow: 0 0 12px mediumvioletred;}
    100% {text-shadow: 0 0 3px mediumvioletred; color: white;}
}

#score {
  width: 80px;
  height: 72px;
  border: 3px solid white;
  font-weight: bolder;
  border-radius: 7px;
  margin: 0 auto;
}

#temps {
  width:100px;
  font-weight: bolder;
  font-size: 24px;
}

#affichageMessages {
  text-align: left;
  background: white;
  width: 450px;
  height: 270px;
  margin-left: 23px;
  margin-right:23px;
  margin-top:-10px;
  border-radius: 7px;
  border: 2px solid skyblue;
  overflow-y: scroll;
}

#chevalet {
  background-color: white;
  width: 500px;
  height: 50px;
  border-radius: 7px;
  box-shadow: 0px 3px 5px black, skyblue 0px 0px 7px inset;
  text-align: left;
  border-top: 1px solid #D2C6D4;
  border-bottom: 4px solid #D2C6D4;
  border-left: 1px solid #D2C6D4;
  border-right: 4px solid #D2C6D4;
  margin-top:55px;
  margin-bottom: 20px;
}

#chevalet .jetonChevalet {
  background-image: url("tile.jpg");
  height: 40px;
  width: 64px;
  border-radius: 7px;
  box-shadow: 0px 3px 5px black;
  text-align: center;
  border-top: 1px solid #333033;
  border-bottom: 4px solid #333033;
  border-left: 1px solid #333033;
  border-right: 4px solid #333033;
  margin-right: 1px;
  margin-top: 2px;
  text-align: center;
}

.lettreChevalet, .valeurChevalet {
  border-left: 100px;
  font-family: 'Asap', serif;
  color: white;
  text-shadow:2px 2px 2px black;
  font-size: 30px;
  margin-left: 10px;
}

.valeurChevalet {
  font-size: 15px;
}

#chevalet tr{
  float: left; 
}

#aide{
  width: 450px;
  height: 250px;
  margin: 0 auto;
  overflow-y: scroll;
  text-align: left;
  font-size: 14px;
}

*:focus{
  outline: none;
}

b {
  color: blueviolet;
}

select {
  display: block;
  width: 100px;
  height: 30px;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
  color: white;
  margin: 0 auto;
  font-weight: bold;
}

#connexion {
  margin: 2px;
  width: 550px;
  text-align: center;
}

#Statistiques {
  margin-left: 100px;
  width: 550px;
  display: inline-block;
  margin-top: -20px;
}

#blockScore {
  margin-right: 110px;
}

#nbLettres {
  margin-top : 1px;
}

#ChercherPartie {
  font-weight: bold;
  background-color: white;
}

#boiteLogin {
	width: 500px;
	height: 290px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.6);
	text-align: center;
}

#boiteLogin p {
  font-size: 24px;
  font-family: 'Asap', serif;
}

#boiteLogin  p:first-child {
  margin-top: 10px;
}

#boiteLogin input {
	width: 200px;
	margin-bottom: 10px;
	background: lightblue;
	outline: none;
	padding: 10px;
	font-size: 14px;
  text-align: center;
	color: black;
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
  border: none;
}

#boiteLogin input:focus {
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

#jouer {
  margin: 0 auto;
}

#jouer {
  width:150px;
}

.plain-select {
	display:inline-block;
	vertical-align:middle;
	position:relative;
	width:200px;
}

.plain-select select {
	line-height:normal;
	height:38px;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	width:200px;
	border-radius:6px;
	display:block;
	width:100%;
	border:2px solid lightblue;
  background-color:transparent;
	color:black;
  text-align: center;
	padding:8px 20px 7px 10px;
	margin:0;
	line-height:normal;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}

.plain-select select:focus {
	background:transparent;
	outline:none;
	box-shadow:0 0 10px white, inset 0 0 7px white;
	border-color: lightblue;
}

.plain-select ::-ms-expand {
 display:none;
}

.plain-select:after {
	content:"";
	position:absolute;
	z-index:2;
	right:8px;
	top:50%;
	margin-top:-3px;
	height:0;
	width:0;
	border-top:6px solid lightblue;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	pointer-events:none;
}

#nomInvalide {
  font-size: 12px;
  font-weight: lighter;
  color: red;
}

.submit {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 150px;
    background: #FFAFBD; 
    background: -webkit-linear-gradient(to right, lightblue, #FFAFBD);
    background: linear-gradient(to right, lightblue, #FFAFBD);
    border: 2px solid white;
    border-radius: 50px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
}

.submit:hover {
    background-color: white;
    color: #FFF;
    transition: 0.4s;
}

option {
    background: #FFAFBD; 
    background: -webkit-linear-gradient(to right, lightblue, #FFAFBD);
    background: linear-gradient(to right, lightblue, #FFAFBD);
}

.loading,
.loading::before,
.loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid darkgrey;
  border-left-color: #243B55;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.loading {
  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  -webkit-animation: animation-rotate 2000ms linear infinite;
  -moz-animation: animation-rotate 2000ms linear infinite;
  -o-animation: animation-rotate 2000ms linear infinite;
  animation: animation-rotate 2000ms linear infinite;
}

.loading::before {
  content: "";
  margin: -23px 0 0 -23px;
  height: 44px;
  width: 44px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::after {
  content: "";
  margin: -29px 0 0 -29px;
  height: 56px;
  width: 56px;
  -webkit-animation: animation-rotate 2000ms linear infinite;
  -moz-animation: animation-rotate 2000ms linear infinite;
  -o-animation: animation-rotate 2000ms linear infinite;
  animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}

sub {
  font-size: 9px;
}

#boiteDeCommunication input {
  width: 400px;
  height: 30px;
  background: rgba(255, 255, 255, 0.8); 
  border: none;
}

.message {
  color: black;
}

.messageCommande {
  color : #B24592;
  font-weight: bold;
}

#tempsRestant {
  margin-left: -30px;
}

#revenirLogin {
  display: inline;
  margin-left: 25px;
  background: #2c3e50;
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
  background: linear-gradient(to right, #3498db, #2c3e50);
  border: 2px solid white;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
  font-family: Montserrat;
  transition: 0.4s;
  outline-style: none;
  cursor: pointer;
  font-size: 16px;
}

#revenirLogin:hover {
    background: #FFAFBD; 
    background: -webkit-linear-gradient(to right, lightblue, #FFAFBD);
    background: linear-gradient(to right, lightblue, #FFAFBD);
    color: #FFF;
    transition: 0.4s;
}
#nbJoueurs {
  display: inline;
}

#explications td:not(:first-child) {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  box-shadow: 0px 0px 2px lightgrey, steelblue 0px 2px 2px inset;
  text-align: center;
}

#explications {
  margin: 0 auto;
}

h2 {
  font-family: 'Monoton', cursive;
  font-size: 20px;
  color: #2D4A63;
  -webkit-animation: h2 0.35s infinite; 
  animation: h2 0.35s infinite;
}

@-webkit-keyframes h2 {
    0%   {text-shadow: 0 0 6px #FFF;}
    100%  {text-shadow: 0 0 0px #000;}
}
